@using KN_KAMPUS_MERDEKA
@using System.Web.Optimization

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title | @clsGlobal.AppName | @clsGlobal.CompanyName </title>
    <!--- FAVICON -->
    <link rel="icon" href="~/Assets/img/favicon.ico" type="image/x-icon">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#00a65a">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    @Styles.Render("~/css/FontAwesome")
    <!-- Ionicons -->
    @Styles.Render("~/css/IonIcons")
    <!-- Tempusdominus Bbootstrap 4 -->
    @Styles.Render("~/css/tempusdominus")
    <!-- iCheck -->
    @Styles.Render("~/css/icheck-bootstrap")
    <!-- JQVMap -->
    @Styles.Render("~/css/jqvmap")
    <!-- Bootstrap Toggle -->
    @Styles.Render("~/css/bootstrap-toggle")
    <!-- Theme style -->
    @Styles.Render("~/css/adminlte")
    <!-- overlayScrollbars -->
    @Styles.Render("~/css/overlayScrollbars")
    <!-- Daterange picker -->
    @Styles.Render("~/css/daterangepicker")
    <!-- Datepicker -->
    @Styles.Render("~/css/bootstrap-datepicker")
    <!-- summernote -->
    @Styles.Render("~/css/summernote")
    <!-- select2 -->
    @Styles.Render("~/css/select2")
    <!-- FONT AWESOME ICON PICKER -->
    @Styles.Render("~/css/fontawesome-iconpicker")
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <!-- JQUERY FANCYBOX -->
    @Styles.Render("~/css/jquery-fancybox")
    <!-- BOOTSTRAP SWITCH -->
    @Styles.Render("~/css/bootstrap-switch")
    <!-- CUSTOM -->
    @Styles.Render("~/css/site")
</head>
<body class="dark-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
    <div class="wrapper">

