@using KN2021_E_RPS.Common
@using KN2021_E_RPS.Common.Entity
@using KN2021_E_RPS.MVC


@{
    ViewBag.Title = "Master Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Index", "Menu", FormMethod.Post, new { id = "frm" }))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("txtHiddenObject")
    @Html.Hidden("txtGUID")
}
<div class="row" id="menuFormRow" style="display: none;">
    <div class="col-md-8 offset-md-2 col-sm-12">
        <div class="card">
            <div class="card-header card-outline card-success">
                <div class="card=title">
                    <h3 class="card-title">
                        <i class="fa fa-plus"></i> <span id="menuFormTitle">Add Menu</span>
                    </h3>
                    <div class="card-tools">
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <!-- text input -->
                        <div class="form-group">
                            <label>Menu Name</label>
                            <input type="text" class="form-control" placeholder="Enter Menu Name " id="txtMenuName">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <!-- text input -->
                        <div class="form-group">
                            <label>Description</label>
                            <input type="text" class="form-control" placeholder="Enter Description " id="txtDescription">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Enter Description " id="txtDescription">
                            <div class="input-group-append">
                                <button type="button" class="btn btn-danger">Action</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer ">
                <button class="btn btn-outline-success  float-right m-1" id="btnSave">
                    <i class="fa fa-save"></i> Simpan
                </button>
                <button class="btn btn-outline-danger  float-right m-1" id="btnCancelAddMenu">
                    <i class="fa fa-chevron-down"></i> Cancel
                </button>
            </div>
        </div>
    </div>
</div>
<div class="row" id="menuTableRow">
    <div class="col-md-6 offset-md-3 col-sm-10 offset-sm-1">
        <div class="card">
            <div class="card-header card-outline card-red">
                <h3 class="card-title">
                    <i class="fa fa-stream"></i> @ViewBag.Title
                </h3>
                <div class="card-tools">
                    <button id="btnAddMenu" class="btn btn-success">
                        <i class="fas fa-plus-square"></i> Add
                    </button>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
                <table class="table table-hover table-striped" id="tableMenu">
                    <thead>
                        <tr>
                            <th class="text-center">ID Menu</th>
                            <th class="text-center">Menu Name</th>
                            <th class="text-center">Description</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody id="tbody">
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
            <div class="card-footer clearfix">
                <ul class="pagination pagination-sm m-0 float-right">
                    <li class="page-item"><a class="page-link" id="btnPrev">«</a></li>
                    <li class="page-item"><a class="page-link" id="btnNext">»</a></li>
                </ul>
            </div>
        </div>
        <!-- /.card -->
    </div>
</div>



<!-- /.row -->
@section scripts{
    <script src="~/Assets/js/customs/systems/menu/menuscripts.js?rand=@clsMMainCustomBL.generateParameter()"></script>
    <script>
            $(() => {
                $(".search-bar").append(@Html.Partial("_Search"));
                $inputSearch = $(".search-bar").find(".search-input");
                $inputSearch.on('keyup', (e) => {
                    if ($inputSearch.val().toString().length % 3 == 0 && $inputSearch.val().toString() != cari  || (e.key == 'Enter')) {
                        cari = $inputSearch.val();
                        searchMenu();
                    }

                })
            });
    </script>
}