@using System.Web.Optimization
<!-- jQuery -->
@Scripts.Render("~/js/jquery")
@Scripts.Render("~/js/jquery-ui")
@Scripts.Render("~/js/select2")
<script>
    $.widget.bridge('uibutton', $.ui.button)
</script>
<!-- Bootstrap 4 -->
@Scripts.Render("~/js/bootstrap")
<!-- ChartJS -->
@Scripts.Render("~/js/chart.js")
<!-- Sparkline -->
@Scripts.Render("~/js/sparklines")
<!-- JQVMap -->
@Scripts.Render("~/js/jqvmap")
@Scripts.Render("~/js/jqvmap-map")
<!-- jQuery Knob Chart -->
@Scripts.Render("~/js/jquery-knob")
<!-- jQuery VALIDATE -->
@Scripts.Render("~/js/jquery-validation")
<!-- daterangepicker -->
@Scripts.Render("~/js/moment")
@Scripts.Render("~/js/daterangepicker")
@Scripts.Render("~/js/bootstrap-datepicker")
<!-- Tempusdominus Bootstrap 4 -->
@Scripts.Render("~/js/tempusdominus-bootstrap-4")
<!-- Summernote -->
@Scripts.Render("~/js/summernote")
<!-- overlayScrollbars -->
@Scripts.Render("~/js/overlayScrollbars")
<!-- AdminLTE App -->
@Scripts.Render("~/js/adminlte")
<!-- SWEET ALERT-->
@Scripts.Render("~/js/sweetalert2")
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<!-- JQUERY FANCY BOX -->
@Scripts.Render("~/js/jquery-fancybox")
<!-- JQUERY INPUT MASK-->
@Scripts.Render("~/js/jquery-inputmask")

<!-- Bootstrap Toggle -->
@Scripts.Render("~/js/bootstrap-toggle")
<!-- JQUERY DATE FORMAT -->
@Scripts.Render("~/js/jquery-dateFormat")
<!-- LOADING OVERLAY -->
@Scripts.Render("~/js/jquery-loading-overlay")
<!-- BOOTSTRAP SWITCH -->
@Scripts.Render("~/js/bootstrap-switch")
<!-- FONT AWESOME ICON PICKER -->
@Scripts.Render("~/js/fontawesome-iconpicker")
<!-- GLOBAL SUPPORT -->
@Scripts.Render("~/js/globals")

</body>
</html>
