@using KN2021_E_RPS.Common
@using KN2021_E_RPS.Common.Entity
@using KN2021_E_RPS.MVC


@{
    ViewBag.Title = "Master User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Index", "User", FormMethod.Post, new { id = "frm" }))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("txtHiddenObject")
    @Html.Hidden("txtGUID")
}
<div class="row" id="userFormRow" style="display: none;">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-outline card-success">
                <div class="card=title">
                    <h3 class="card-title">
                        <i class="fa fa-plus"></i> <span id="userFormTitle">Add User</span>
                    </h3>
                    <div class="card-tools">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" id="userTableRow">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-outline card-red">
                <h3 class="card-title">
                    <i class="fa fa-stream"></i> @ViewBag.Title
                </h3>
                <div class="card-tools">
                    <button id="btnAddUser" class="btn btn-success">
                        <i class="fas fa-plus-square"></i> Add
                    </button>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
                <table class="table table-hover table-striped" id="tableUser">
                    <thead>
                        <tr>
                            <th class="text-center">ID User</th>
                            <th class="text-center">Username</th>
                            <th class="text-center">Full Name</th>
                            <th class="text-center">Nick</th>
                            <th class="text-center">Nik</th>
                            <th class="text-center">Email</th>
                            <th class="text-center">Active</th>
                            <th class="text-center">Ad</th>
                            <th class="text-center">Last Login</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody id="tbody">
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
            <div class="card-footer clearfix">
                <ul class="pagination pagination-sm m-0 float-right">
                    <li class="page-item"><a class="page-link" id="btnPrev">«</a></li>
                    <li class="page-item"><a class="page-link" id="btnNext">»</a></li>
                </ul>
            </div>
        </div>
        <!-- /.card -->
    </div>
</div>



<!-- /.row -->
@section scripts{
    <script src="~/Assets/js/customs/systems/user/userscript.js?rand=@clsMMainCustomBL.generateParameter()"></script>
    <script>
            $(() => {
                $(".search-bar").append(@Html.Partial("_Search"));
                $inputSearch = $(".search-bar").find(".search-input");
                $inputSearch.on('keyup', (e) => {
                    if ($inputSearch.val().toString().length % 3 == 0 && ($inputSearch.val().toString() != cari || e.key == 'Enter')) {
                        cari = $inputSearch.val();
                        searchUser();
                    }

                })
            });
    </script>
}